---
name: Release Drafter

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  release:
    timeout-minutes: 3
    if: ${{ contains(github.event.pull_request.labels.*.name, 'release')  }}
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: generate tag
        id: gen_tag
        run: |
          tag=$(TZ=Asia/Tokyo date +%Y%m%d%H%M%S)
          echo "tag: $tag"
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
      - name: push tag
        run: |
          git tag "${STEPS_GEN_TAG_OUTPUTS_TAG}"
          git push origin "${STEPS_GEN_TAG_OUTPUTS_TAG}"
        env:
          STEPS_GEN_TAG_OUTPUTS_TAG: ${{ steps.gen_tag.outputs.tag }}
      
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6
        with:
          publish: true
          tag: ${{ steps.gen_tag.outputs.tag }}
          version: ${{ steps.gen_tag.outputs.tag }}
          name: ${{ steps.gen_tag.outputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
