---
on:
  workflow_call:
    inputs:
      tflint_config_path:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  get_diff:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    outputs:
      diff_dirs: ${{ env.unique_dir }}
      diff_dirs_json: ${{ env.unique_dir_json }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: target branch
        id: target_branch
        run: |
          set -xv
          {
            echo "branch=$GITHUB_BASE_REF"
            echo "from=origin/$GITHUB_BASE_REF"
            echo "to=HEAD"
          } >> "$GITHUB_OUTPUT"
      - name: get diff
        run: |
          set -xv
          dir=$(git diff --diff-filter="AMRCD" \
                  --name-only \
                  "${STEPS_TARGET_BRANCH_OUTPUTS_FROM}...${STEPS_TARGET_BRANCH_OUTPUTS_TO}" \
                  -- "**.tf" \
                  | xargs dirname \
                  | sort \
                  | uniq \
                  | grep -v modules \
                  | tr "\n" " "
               )
          echo "unique_dir=$dir" >> "$GITHUB_ENV"
          # shellcheck disable=SC2016
          dir_json=$(echo "$dir" \
                       | xargs jq -nc --args '$ARGS.positional')
          echo "unique_dir_json=$dir_json" >> "$GITHUB_ENV"
        env:
          STEPS_TARGET_BRANCH_OUTPUTS_FROM: ${{ steps.target_branch.outputs.from }}
          STEPS_TARGET_BRANCH_OUTPUTS_TO: ${{ steps.target_branch.outputs.to }}

  fmt:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 10
    if: needs.get_diff.outputs.diff_dirs
    needs: ["get_diff"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: fmt
        run: |
          terraform fmt -check -recursive

  validate:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 10
    if: needs.get_diff.outputs.diff_dirs
    needs: ["get_diff"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: settings git config
        run: git config --global url."https://oauth2:${{ secrets.token }}@github.com".insteadOf https://github.com
      - name: validate
        run: |
          echo "${NEEDS_GET_DIFF_OUTPUTS_DIFF_DIRS}" \
          | tr " " "\n" \
          | xargs -I{} bash -c 'cd {} && terraform init -backend=false && terraform validate'
        env:
          NEEDS_GET_DIFF_OUTPUTS_DIFF_DIRS: ${{ needs.get_diff.outputs.diff_dirs }}

  tflint:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 10
    if: needs.get_diff.outputs.diff_dirs
    needs: ["get_diff"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: settings git config
        run: git config --global url."https://oauth2:${{ secrets.token }}@github.com".insteadOf https://github.com
      - name: tflint init
        run: tflint --init -c "${INPUTS_TFLINT_CONFIG_PATH}"
        env:
          INPUTS_TFLINT_CONFIG_PATH: ${{ inputs.tflint_config_path }}
      - name: run tflint
        run: |
          echo "${NEEDS_GET_DIFF_OUTPUTS_DIFF_DIRS}" \
          | tr " " "\n" \
          | xargs -I{} bash -c "cd {} && terraform init -backend=false  && tflint -c ${{ github.workspace }}/${INPUTS_TFLINT_CONFIG_PATH}"
        env:
          NEEDS_GET_DIFF_OUTPUTS_DIFF_DIRS: ${{ needs.get_diff.outputs.diff_dirs }}
          INPUTS_TFLINT_CONFIG_PATH: ${{ inputs.tflint_config_path }}

  trivy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    if: needs.get_diff.outputs.diff_dirs
    needs: ["get_diff"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run Trivy vulnerability scanner in IaC mode
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: 'config'
          hide-progress: false
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
          trivy-config: .trivy.yml

  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    if: needs.get_diff.outputs.diff_dirs
    needs: ["get_diff"]
    strategy:
      fail-fast: false
      matrix:
        target_dir: ${{ fromJson(needs.get_diff.outputs.diff_dirs_json) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: Render terraform docs and push changes back to PR
        run: terraform-docs markdown "${MATRIX_TARGET_DIR}" --output-file README.md
        env:
          MATRIX_TARGET_DIR: ${{ matrix.target_dir }}
      - run: |
          if [ "$(git status -s)" != "" ]; then
            git --no-pager diff
            exit 1
          fi
